.footer {
  color: #fff;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  justify-content: center;
  align-items: center;
  background-color: rgb(39 39 42);
  box-shadow: 0 50vh 0 50vh rgb(39 39 42);
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
