@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-semibold text-black dark:text-white leading-10;
  }

  h2 {
    @apply text-xl font-semibold text-black dark:text-white leading-9;
  }

  h3 {
    @apply text-lg font-semibold text-black dark:text-white leading-8;
  }

  p {
    @apply text-gray-800 text-base dark:text-white;
  }

  li {
    @apply text-gray-800 text-base dark:text-white ml-6;
  }
}

html,
body {
  @apply dark:bg-zinc-900;

  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    linkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
}

.main {
  padding: 1.5rem 0;
  min-height: 5vh;
}

.mainadd {
  padding: 1.5rem;
  min-height: 5vh;
}

.primary {
  margin: 10px;
  padding: 10px;
  border: 1px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  min-width: 150px;
}

hr {
  @apply dark:opacity-50;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
